.table-custom {
  overflow: scroll;
  height: 75vh;
}

.element {
  scrollbar-width: thin;
  scrollbar-color: black;
}

.element::-webkit-scrollbar {
  width: 4px;
  height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}

.element::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

.element::-webkit-scrollbar-thumb {
  background-color: red;;
}